.top, .container {
    display: flex;
    vertical-align: middle;
}
.top {
    width: 100%;
    height: 75px;
    background: #9a9a9a;
    gap: 100px;
}
.top > * {
    vertical-align: middle;
}
.proj-namedata {
    width: 200px;
    height: 100%;
}
.top button {
    float: right;
    width: 100px;
    height: 60px;
}