@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: "Roboto", sans-serif;
    overflow-x: none;
}
.top, .container {
    display: flex;
    vertical-align: middle;
    gap: 50%;
}
.top {
    position: absolute;
    left: 0;
    top: 0;
    justify-content: space-between;
    width: 99%;
    height: 60px;
    padding: 10px;
    padding-right: 10px;
    background: #434343;
    color: white;
}
.top button {
    height: 100%;
    width: 100px;
}
.run {
    background: lightgreen;
    border: 0;
}